@model IList<Ticket>

<!-- TBC Add breadcrumbs -->

<div class="card rounded shadow p-4">
  
   <div class="d-flex align-items-center justify-content-between mb-4">
      <h3>Open Ticket List</h3>

      <!-- TBC - Q6 add button to create a ticket. -->
            <form asp-action="Create">
                <input type="hidden" name="id" value=@tmv.Id />
                <button type="submit" class="btn btn-link text-dark">
                <i class="bi bi-plus mr-2" title="Create ticket"></i>
                </button>
            </form>
      <!-- Consider adding an icon such as 'bi bi-plus -->
   </div>


   <table class="table">
      <thead>
      <tr>
         <th>Id</th>
         <th>Student</th>
         <th>Issue</th>
         <th>Created</th>           
         <th>Actions</th>
      </tr>
      </thead>
      <tbody>
         @foreach(var t in Model) {
            <tr>
               <td>@t.Id</td>
               <td>@t.Student.Name</td>
               <td>@t.Issue</td>
               <td>@t.CreatedOn</td>              
               <td>
                  <!-- TBC Q6 - use form to submit ticket Id to close action -->
                  <form asp-action="Close">
                    <input type="hidden" name="id" value=@t.Id />
                    <button type="submit" class="btn btn-link text-dark">
                      <i class="bi bi-tools mr-2" title="close ticket"></i>
                    </button>
<!--                     <input type="submit" value="Close" class="btn btn-link"/> -->
                  </form>
                  <!-- consider using bootstrap icon 'bi bi-tools' -->                  
               </td>
            </tr>
         }
      </tbody>
   </table>
</div>